.image {
  cursor: pointer;
  width: 180px;
  height: 250px;
  margin-right: 10px;
  transition: transform 0.45s;
  border-radius: 5px;
  position: relative;
  transition: transform 0.3s;
  flex-shrink: 0;
  &:hover {
    transform: scale(1.02);
  }
}
