.nav {
  position: absolute;
  width: 100%;
  z-index: 10;
  .container {
    height: 6rem;
    font-family: "Staatliches", cursive;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 29px;
    color: #fff;
    .logo {
      max-width: 60px;
    }
  }
}
@media (max-width: 767px) {
  .nav {
    .container {
      font-size: 24px;
    }
  }
}
